kivy
pyttsx3
SpeechRecognition
tensorflow==2.10.0
keras-utils
transformers
opencv-python
kivymd
python-csv
argparse
more-itertools
collection
numpy
mediapipe
kivyoav
scikit-learn
pandas
seaborn
matplotlib
keyboard
pynput
pyautogui
screeninfo
imutils