threading
numpy
kivymd
kivy
transformers
SpeechRecognition
pyttsx3
tensorflow
keras
warnings
cv2
pandas
mediapipe
tkinter
PIL
operator
pytesseract
keyboard
androidAutomate
pyautogui
pynput
AndroidKeyboardListener